li:not(li:last-child) {
  border-bottom: 1px solid #ccc;
}

.todo-item {
  position: relative;
  list-style: none;
  height: 30px;
}
.todo-item:hover {
  background-color: #DCDCDC;
}
.todo-item:hover button {
  display: block;
}
.todo-item input,
.todo-item span ,
.todo-item button {
  position: absolute;
  top: 0;
  bottom: 0;
}

.todo-item input {
  left: 0;
}

.todo-item span {
  left: 15px;
  width: 100%;
  margin: 0 70px 0 10px;
}

.todo-item button {
  display: none;
  right: 0;
  border: 0;
  background-color: #D94E48;
  color: #fff;
  width: 70px;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  margin: 3px;
  border-radius: 3px;
}